<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Admin Login</title>
  <link rel="icon" type="image/png" href="{{ url_for('static', filename='images/icon.png') }}">

  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<script src="{{ url_for('static', filename='js/theme.js') }}"></script>
<body class="login-page">
  <main>
    <h1>Admin Login</h1>

    {% if error %}
      <p class="error">{{ error }}</p>
    {% endif %}

    <form method="POST" class="login-form">
      <input type="text" name="username" placeholder="Enter admin username" required><br><br>
      <input type="password" name="password" placeholder="Enter admin password" required><br><br>
      <button type="submit">Login</button>
    </form>
  </main> 
  <script src="{{ url_for('static', filename='js/theme.js') }}"></script>
</body>
</html>
