<!-- templates/login.html -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Unified Login</title>
  <link rel="icon" type="image/png" href="{{ url_for('static', filename='images/icon.png') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body class="login-page">
  <main>
    <h1>Hall Pass Login</h1>

    <div id="custom-clock" class="custom-clock">Loading time…</div>
    <div class="period" id="period">Checking current period...</div>

    {% if error %}
      <p class="error">{{ error }}</p>
    {% endif %}

    <form method="POST" class="login-form">
      <input type="text" name="user" placeholder="Enter ID or Email" required><br><br>
      <input type="password" name="password" placeholder="Password"><br><br>
      <button type="submit">Login</button>
    </form>
  </main>

  <script src="{{ url_for('static', filename='js/index.js') }}"></script>
  <script type="module" src="{{ url_for('static', filename='js/index.js') }}"></script>
  <script src="{{ url_for('static', filename='js/theme.js') }}"></script>
</body>
</html>
