<!-- templates/login.html -->
<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Hall Pass Login</title>
  <link rel="icon" type="image/png" href="{{ url_for('static', filename='images/icon.png') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
  <h1>Hall Pass Login</h1>

  <!-- Shared styled clock + period -->
  <div id="custom-clock" class="custom-clock">Loading time…</div>
  <div class="period" id="period">Checking current period...</div>

  <form method="POST">
    <div><label>Enter Student ID:</label><div>
    <input type="text" name="user" required>
    <button type="submit">Continue</button>
  </form>

  {% if error %}
    <div class="error">{{ error }}</div>
  {% endif %}

  <script type="module" src="{{ url_for('static', filename='js/index.js') }}"></script>
  <script src="{{ url_for('static', filename='js/theme.js') }}"></script>
</body>
</html>
